.product-container {
  width: 220px;
  height: 340px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(194,194,194,1);
  -moz-box-shadow: 0px 0px 20px 2px rgba(194,194,194,1);
  box-shadow: 0px 0px 20px 2px rgba(194,194,194,1);
  border-radius: 5px;
  background: linear-gradient(to top,white 1%, #ADADAD);
}
.product-title{
	background:#EE1C1C;
	border-top: 1px solid #626262 ;
}
.product-price{
	font-weight: bold;
	border-bottom: 1px solid #626262 ;
}
.product-img {
  max-width: 80%;
  border-radius:10px;
  margin-left:20px;

}
.product-button{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 20px;
    margin-left:55px;
    margin-top:15px;
}
.product-button:hover{
    opacity: 0.9;
    background-color: #343434;
  }